{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:node/recommended"
  ],
  "rules": {
    "consistent-return": "off",
    "no-underscore-dangle": 0,
    "no-param-reassign": 0,
    "no-console": "off",
    "no-await-in-loop": "off",
    "no-unused-vars": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "no-restricted-syntax": "off",
    "no-continue": "off",
    "guard-for-in": "off"
  },
  "parserOptions": {
    "ecmaVersion": 11
  }
}
