<table>
  <tr>
    <td colspan="2"><b>Order Detail</b></td>
  </tr>
  <tr>
    <td><b>Order number</b></td>
    <td>{{orderNumber}}</td>
  </tr>
  <tr>
    <td><b>Order time</b></td>
    <td>{{orderTime}}</td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 10px 0"></td>
  </tr>
  <tr>
    <td colspan="2"><b>User Detail</b></td>
  </tr>
  <tr>
    <td><b>User ID</b></td>
    <td>{{userID}}</td>
  </tr>
  <tr>
    <td><b>User Name</b></td>
    <td>{{userName}}</td>
  </tr>
  <tr>
    <td><b>User email</b></td>
    <td>{{userEmail}}</td>
  </tr>
  <tr>
    <td><b>User Legal Name</b></td>
    <td>{{userLegalName}}</td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 10px 0"></td>
  </tr>
  <tr>
    <td colspan="2"><b>Broker Detail</b></td>
  </tr>
  <tr>
    <td><b>Broker ID</b></td>
    <td>{{brokerID}}</td>
  </tr>
  <tr>
    <td><b>Broker Name</b></td>
    <td>{{brokerName}}</td>
  </tr>
  <tr>
    <td><b>Broker email</b></td>
    <td>{{brokerEmail}}</td>
  </tr>
  <tr>
    <td><b>Broker Legal Name</b></td>
    <td>{{brokerLegalName}}</td>
  </tr>
  <tr>
    <td colspan="2" style="padding: 10px 0"></td>
  </tr>
  <tr>
    <td colspan="2"><b>Dispute Detail</b></td>
  </tr>
  <tr>
    <td><b>Disputed amount</b></td>
    <td>{{disputedAmount}}</td>
  </tr>
  <tr>
    <td><b>Dispute reason</b></td>
    <td>{{disputeReason}}</td>
  </tr>
  <tr>
    <td><b>Dispute description</b></td>
    <td>{{disputeDescription}}</td>
  </tr>
  <tr>
    <td><b>Upload proof from seller</b></td>
    <td>{{uploadProof}}</td>
  </tr>
</table>
